/* About.css */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.about-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.about-container p:last-child {
  margin-bottom: 0;
}

.about-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.about-container a:hover {
  text-decoration: underline;
}

.buttonHome {
  position: absolute;
  width: 250px;
  height: 50px;
  bottom: 20px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  background-color: #b1e4e3;
}
