/* BankAccountLinkingForm.css */

.bank-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.bank-form label {
  display: block;
  margin-bottom: 10px;
}

.bank-form input[type="text"],
.bank-form input[type="email"],
.bank-form select {
  /* Added 'select' to apply styling to dropdown */
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bank-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px; /* Added margin-bottom to create space between buttons */
}

.bank-form button:hover {
  background-color: #0056b3;
}
